<% show_post ||= false %>



<div class="row">
  <div class='span0 well text-center'>
    
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post', remote: true do %>
        <i class="icon-arrow-up"></i>
      <% end %>
    <% end %>
    <br>
    <span id="comment_<%= comment.id%>_votes"><%= comment.total_votes %> votes</span>
    <br>

    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post', remote: true do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    <% end %>

  </div>

  <div class="well span8">
    <%= comment.body %>
    <p class="quiet"> by <%= comment.user.username %> </p>
  </div>
</div> <!-- .row -->

