<% @posts.each do |post| %>
<div class="row">
  <div class='span8 well'>
  <%= render post.categories %>
  <h4> <%= link_to post.title, fix_post_url(post.url) %></h4>
  <p> <%= post.description %> </p>
  <p>
    <span class='quiet'>posted by </span> <%= post.creator.username %> 
    <small>at <%= display_datetime(post.created_at)%></small>
  </p>
  <span>
    <%= link_to("#{post.comments.size} comments", post_path(post)) %>
    <% if logged_in? && current_user.username == post.creator.username %>
      <p><%= link_to "edit", edit_post_path(post) %></p>
    <% end %>
  </span>
  </div>
</div>
<% end %>