
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<div class='light-gray-background'>
  <%= @post.description %>
</div><br>

<% if logged_in? && @post.creator.username == current_user.username %>
  <%= link_to "Edit", edit_post_path(@post) %>
<br>
<% end %>

<hr>

<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.label :body %>
    <%= f.text_area :body %>
    <br>
    <%= f.submit "Add Comment" %>

  <% end %>
<% end %>
<br>
<br>
<br>
<br>



<% @post.comments.each do |comment|%>
  <%=comment.body %>
  <br>
  <small>by <%=comment.user.username %></small>
  <br>
  <br>

<% end %>

<hr>