<p>
  <% @post.categories.each do |category| %>

    <span class="badge"><%=category.name%></span>
  <%end%>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<div class='light-gray-background'>
  <%= @post.description %>
</div><br>

<%= link_to "Edit", edit_post_path(@post) %>
<br>

<hr>

<% @post.comments.each do |comment|%>
  <%=comment.body %>
  <br>
  <small>by <%=comment.user.username %></small>
  <br>
  <br>

<% end %>

<hr>