<h1> New Category </h1>

<% if @category.errors.any? %>
<div clas='alert' >
<%  @category.errors.full_messages.each do |message| %>
  <%= message %>

  <% end %>
  </div>
<% end %>


<%= form_for @category do |f| %>

<%= f.label :name, "Category name" %><br>
<%= f.text_field :name %>
<br>
<%= f.submit "Submit new Category" %>

<% end %>