<h1> New Category </h1>

<%= render "shared/errors", object: @category %>


<%= form_for @category do |f| %>

<%= f.label :name, "Category name" %><br>
<%= f.text_field :name %>
<br>
<%= f.submit "Submit new Category" %>

<% end %>