<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
  <% if logged_in? %>
  <li>
    <%= link_to 'New Post', new_post_path %>
  </li>
  <% end %>
   <li>
    <%= link_to 'Categories', categories_path %>
  </li>

<% if logged_in? %>
  <li>
    <%= link_to 'Log out', logout_path %>
  </li>

  <% else %>
  <li>
    <%= link_to "Log in", login_path %>
  </li>

  <li>
  <%= link_to "Register", register_path %>
  </li>

<% end %>



</ul>